
.container-fluid {
  margin-top: 101px;
  color: #000 !important
}

.card {
  background-color: #F8F9FB !important
}

.social {
  font-size: 21px !important
}

.color-text {
  color: #757575 !important
}

footer {
  color: #caced1 !important;
  margin-top: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
  }

.list-unstyled li {
  margin-top: 20px;
  margin-bottom: 20px
}

.Careers {
  cursor: pointer;
  color: #1E88E5
}

.row-1 {
  background-color: #1E242A !important;
  width: 100%;
}

.row-2 {
  background-color: #28323C !important;
  width: 100%;
}
.row{
  margin: 0!important;
}