.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/**/
.card-3 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  /* height: 60px; */
}

.custom-toggle-button{
  border: 1px solid black!important;
  border-radius: 5px!important;
  color:black!important;
  font-weight: 700!important;
}
.custom-toggle-button:not(:last-child){
  margin-right: 15px!important;
}
.Mui-selected {
  background-color: black!important;
  color: white!important;
}
.abcd{
  border-radius: 15px!important;
  height: 35px!important;
}
.blacka{
  color: black!important;
}
.MuiTableCell-head{
  background-color: rgb(243, 244, 247)!important;
  color:rgb(80, 97, 118)!important;
}